
<div class="ui fixed inverted menu" style="background:#ff8000">

    <div class="ui container" style="height:64px">
        <a href="/" class="header item" style="font-size: 30px;font-weight:200">
        Campus
        </a>
        <div class="right menu">
            
            <a class="ui item noto300" href="/studentID">{{User}}</a>
            
            
            <a class="ui item noto300" href="/Logout">
                登出
            </a>
            
        </div>
    </div>
</div>
<!-- 
<div class="navbar-fixed">
<nav class="orange darken-3" style="box-shadow:none">
    <div class="container">
        <a href="#" data-activates="slide-out" class="button-collapse" ><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo noto" style="font-weight:200">Campus</a>
            <ul id="nav-mobile" class="right">
                <li><a class="noto300" href="/studentID">{{User}}</a></li>
                <li><a class="noto300" href="/Logout">登出</a></li>
            </ul>
			
        </div>
    </div>
</nav>
</div>
 -->