<div class="ui container" style="margin-top:80px">
    <div class="ui grid" style="margin-top:10px">
        <div class="five wide computer nine wide tablet six wide mobile column">
            <div class="ui segment">

            </div>
        </div>
        <div class="eleven wide column" id="main1">
            <!--主要內容-->
            <div class="main container" id="main_container">
                <!--選課學分數相關資訊-->
                <div id="schedule" style="position: relative; max-width: 1000 px; height: 900px;">
                    <table class="ui table celled segment schedule">
                        <thead>
                            <tr class="center aligned head">
                                <th style="width: 16%">
                                    時間
                                    <div class="ui slider checkbox" id="moretime">
                                        <input type="checkbox" name="newsletter">
                                        <label>more</label>
                                    </div>
                                </th>
                                <th style="width: 12%">一</th>
                                <th style="width: 12%">二</th>
                                <th style="width: 12%">三</th>
                                <th style="width: 12%">四</th>
                                <th style="width: 12%">五</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-time="1">
                                <th data-tooltip="Add users to your feed">D0<br>
                                    07:10 - 08:00</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="2">
                                <th>D1<br>
                                    08:10 - 09:00</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="3">
                                <th>D2<br>
                                    09:10 - 10:00</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="4">
                                <th>D3<br>
                                    10:10 - 11:00</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="5">
                                <th>D4<br>
                                    11:10 - 12:00</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr class="siesta active" data-time="6">
                                <th>DN<br>
                                    12:40 - 13:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="7">
                                <th>D5<br>
                                    13:40 - 14:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="8">
                                <th>D6<br>
                                    14:40 - 15:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="9">
                                <th>D7<br>
                                    15:40 - 16:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="10">
                                <th>D8<br>
                                    16:40 - 17:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr class="siesta active" data-time="11">
                                <th>E0<br>
                                    17:40 - 18:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="12">
                                <th>E1<br>
                                    18:40 - 19:30</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="13">
                                <th>E2<br>
                                    19:35 - 20:20</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="14">
                                <th>E3<br>
                                    20:30 - 21:20</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                            <tr data-time="15">
                                <th>E4<br>
                                    21:25 - 22:10</th>
                                <td data-week="1"></td>
                                <td data-week="2"></td>
                                <td data-week="3"></td>
                                <td data-week="4"></td>
                                <td data-week="5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
                        top 52 一格 +63
                        left 170 一格 +120
                        height 53 一格 +63
                     -->
                    <div class="course" style="position: absolute;top: 115px;left: 532px;width: 105.1px;height: 243px;">
                    <strong>人生哲學</strong><small>(必)</small></div>
                    <div class="course" style="position: absolute;top: 115px;left: 410px;width: 105.1px;height: 53px;">
                    <strong>導師時間</strong><small>(必)</small></div>
                    <div class="course" style="position: absolute;top: 52px;left: 170px;width: 105.1px;height: 116px;">
                    <strong>桌球</strong><small>(必)</small></div>
                    
                    
                    <div class="course" style="position: absolute;top: 115px;left: 290px;width: 105.1px;height: 179px;">
                    <strong>類神經網路導論</strong><small>(選)</small></div>
                    
                    
                </div>
            </div>
            <!--主要內容End-->
        </div>
    </div>
</div>


<!-- 
<div id="body">
    
    <div class="main container" id="main_container">
    
    <div id="detail_list">
    <div id="detail_list">
        <style>
            table.schedule th {
                width: 100px;
                text-align: center;
            }

            table.schedule td {
                text-align: center;
                height: 63px;
            }

            .course {
                float: left;
                color: white;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                /*border:1px solid rgba(53,53,53,0.8);*/
                background-color: rgb(72, 171, 70);
                opacity: 0.8;
                text-align: center;
                overflow: hidden;
                -ms-text-overflow: ellipsis;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }

            .priority {
                color: white;
                background-color: rgb(87, 80, 139);
            }

            .error_tag {
                color: white;
                background-color: #49769C;
            }

            .conflict {
                color: white;
                background-color: #D95C5C;
            }
        </style>

        <div id="schedule" style="position: relative; max-width: 1000 px; height: 900px; margin: 10px auto;">
            <table class="ui table celled segment schedule">
                <thead>
                    <tr class="head">
                        <th style="width: 16%">時間</th>
                        <th style="width: 12%">一</th>
                        <th style="width: 12%">二</th>
                        <th style="width: 12%">三</th>
                        <th style="width: 12%">四</th>
                        <th style="width: 12%">五</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-time="1">
                        <th>D0<br>
                            07:10 - 08:00</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="2">
                        <th>D1<br>
                            08:10 - 09:00</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="3">
                        <th>D2<br>
                            09:10 - 10:00</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="4">
                        <th>D3<br>
                            10:10 - 11:00</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="5">
                        <th>D4<br>
                            11:10 - 12:00</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr class="siesta active" data-time="6">
                        <th>DN<br>
                            12:40 - 13:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                        <td data-week="6"></td>
                        <td data-week="7"></td>
                    </tr>
                    <tr data-time="7">
                        <th>D5<br>
                            13:40 - 14:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="8">
                        <th>D6<br>
                            14:40 - 15:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="9">
                        <th>D7<br>
                            15:40 - 16:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="10">
                        <th>D8<br>
                            16:40 - 17:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr class="siesta active" data-time="11">
                        <th>E0<br>
                            17:40 - 18:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="12">
                        <th>E1<br>
                            18:40 - 19:30</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="13">
                        <th>E2<br>
                            19:35 - 20:20</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="14">
                        <th>E3<br>
                            20:30 - 21:20</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>
                    <tr data-time="15">
                        <th>E4<br>
                            21:25 - 22:10</th>
                        <td data-week="1"></td>
                        <td data-week="2"></td>
                        <td data-week="3"></td>
                        <td data-week="4"></td>
                        <td data-week="5"></td>
                    </tr>

                </tbody>
            </table>
            <div class="course" style="position: absolute; top: 242px; left: 577px; width: 105.1px; height: 116px;">
            <strong>人生哲學</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 430px; left: 445px; width: 105.1px; height: 116px;">
            <strong>導師時間</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 242px; left: 170px; width: 105.1px; height: 116px;">
            <strong>桌球</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 168px; left: 709px; width: 105.1px; height: 179px;">
            <strong>數值方法</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 430px; left: 170px; width: 105.1px; height: 179px;">
            <strong>編譯器設計</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 168px; left: 290px; width: 105.1px; height: 179px;">
            <strong>類神經網路導論</strong><small>(選)</small></div>
            <div class="course" style="position: absolute; top: 430px; left: 709px; width: 105.1px; height: 179px;">
            <strong>數位系統導論</strong><small>(必)</small></div>
            <div class="course" style="position: absolute; top: 546px; left: 577px; width: 105.1px; height: 179px;">
            <strong>計算機組織</strong><small>(必)</small></div>
        </div>

    </div>
    
</div>
 -->
<!--[if gte IE 9]><!-->
<script src="/Scripts/jquery-2.0.3.min.js"></script>
<!--<!<![endif]-->



<script type="text/javascript" src="/Content/js/plugins?r=9B33133833C5B38AC25DCBF4946593BD"></script><script src="/Scripts/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="/Content/js/semantic?r=9B44C392DC88E7290043F88396C5BAF1"></script>



<script src="/Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="/signalr/hubs"></script>


<script>
    
    var isFromLoginPage = false;
    $(function () { $.ajaxSetup({ cache: false }); });
    $(window).unload(function () { });
</script>



    <script>
        isFromLoginPage = Boolean(false);
        var messageCenter;
        $(function () {
            var userID = 'BygihWRDkzn+v2gNrUXZh2zlpZWofPbkHMCcGUZBj6M=';
            messageCenter = $.connection.messageCenter;
            var tabId = window.sessionStorage.getItem("t_id");
            var browserId = window.localStorage.getItem("b_id");
            var page = '/Registration/DetailCourseList/Registrated';
            $.connection.hub.start().done(function () {

                if (!browserId) {
                    browserId = '214238fb-243c-46bd-8630-681875456cbb';
                    
                    window.localStorage.setItem("b_id", browserId);
                }
                if (!tabId) {
                    tabId = '4ebe54bb-f7db-4865-88ea-4dd211643737';
                    window.sessionStorage.setItem("t_id", tabId);
                }
                messageCenter.server.registerClient(userID, browserId, tabId, page);
            });

            
            messageCenter.client.onRegisterCompleted = function (data) {
                $.post('/User/NotifyDuplicatedAccount', { UserID: userID, BrowserID: browserId, TabID: tabId });
            }

            messageCenter.client.signOut = function () {
                messageCenter.server.signOut(userID, browserId);
            }

            $(document).on('click', '#logout', function (e) {
                e.preventDefault();
                messageCenter.client.signOut();
            });

            
            messageCenter.client.refreshHeader = function () {
                $.post('/User/GetHeaderData', function (data) {
                    if (data !== false && data.UserName && data.RegistrationCount >= 0 && data.PriorityCount) {
                        $('#registered_count').html(data.RegistrationCount);
                        $('#primary_count').html(data.PriorityCount);
                        $('#user_name').html(data.UserName);
                    }
                });
            }

            
            messageCenter.client.showMessageBox = function (data) {
                if (data.Url) {
                    var box = $('#messageBox');
                    $(box).attr('href', data.Url);
                    $(box).trigger('click');
                }
            }

            
            messageCenter.client.showSignOutMessageBox = function (data) {
                $.post('/User/LogoutAjax');
                if (data.Url) {
                    var box = $('#messageBox');
                    $(box).attr('href', data.Url);
                    $(box).trigger('click');
                    $.connection.hub.stop();
                }
            }

            
            messageCenter.client.showStickyMessage = function (type, title, msg) {
                showStickyMessage(type, title, msg);
            }

            
            messageCenter.client.updateRegistrationData = function () {
                $.post('/User/UpdateRegistrationData', function (data) {
                    if (data.Success == true) {
                        $('#registered_count').html(data.Credit);
                    } else {
                        var message = i18n.t('message.pleaseLoginAgain', { defaultValue: "您的已選上課程已被開課單位以即時加退選進行異動處理，請重新登入，更新已選上課程。" });
                        alert(message);
                    }
                });
            }

            
        });

        
        $(document).idleTimer(15*60*1000); 
        $(document).on("idle.idleTimer", function (event, elem, obj) {
            $('#idle').fancybox({
                modal: true
            }).click();
        });

        
        $(document).on('click', '#close_idle', function (e) {
            $.fancybox.close();
            location.reload();
        });
    </script>

<script type="text/javascript" src="/Content/js/main?r=F82F22119C36D0F7A9D19C63D969E231"></script>


<script src="/Scripts/registration/DetailCourseList.min.js"></script>






<div class="popover course_popover_area popover-bottom" style="display: none; left: 1062.3px; top: 43px; margin-top: 4px; margin-left: -10px; z-index: 949;"><div class="arrow top-arrow"></div><div class="wrap"></div></div><div class="popover system_setting_popover popover-bottom" style="display: none; left: 1235.72px; top: 46px; margin-top: 4px; margin-left: -100px; z-index: 949;"><div class="arrow top-arrow"></div><div class="wrap"></div></div><div class="popover large popover-bottom" style="display: none; left: 853.781px; top: 43px; margin-top: 4px; margin-left: 0px; z-index: 949;"><div class="arrow top-arrow"></div><div class="wrap"></div></div><link rel="stylesheet" type="text/css" href="/Resource/css/search.css"><script src="/Resource/js/search.js"></script><script src="/Resource/js/home.js"></script>
</body>